*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

nav{
    height:10vh;
    background-color: green;
}

nav ul{
    display: flex;
    width: 50%;
    margin-left: auto;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.fixd{
    position: fixed;
    width: 60%;
    top: 90%;
    z-index: 2;
    background-color: brown;
    padding-bottom: 10em;
    padding-top: 20px;
}

nav ul li a{
    text-decoration: none;
}

.abs{
    position: absolute !important;
    border-style: none;
    padding: 4px;
    background-color: orangered;
    border-radius: 3px;
    outline: none;
    color: white;
}

.one{
    font-family: san-serif;
}

ul a{
    text-decoration: none !important;
}
ul{
    list-style: none;
}

.details{
    background-color: transparent;
    width: 100%;
    padding: 10px;
}