*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family : san-serif;
}

nav{
    height:10vh;
    background-color: maroon;
}

nav ul{
    display: flex;
    width: 50%;
    margin-left: auto;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.fixd{
    position: absolute;
    width: 100%;
    top: 80vh;
    background-color: brown;
    z-index: 2;
}

nav ul li a{
    text-decoration: none;
    color: white !important;
}

.abs{
    position: absolute !important;
    border-style: none;
    padding: 4px;
    background-color: orangered;
    border-radius: 3px;
    outline: none;
    color: white;
}

.one{
    background-color: black;
}

.two{
    background-color: transparent;
}

.three{
    background-color: black;
    height: 90vh;
    padding-left: 10px !important;
}

.details{
    background-color: transparent;
    width: 100%;
    padding: 10px;
}

.mess{
    background-color: lightgreen;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 60%;
    padding: 2em;
}
.sender{
    width: 100%;
}

.receive{
    background-color: magenta;
    width: 60%;
    border-radius: 5px;
    margin-left: auto;
    padding: 2em;
    margin-bottom: 10px;
}