{% extends 'base.html'%}
{%block body%}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 one">
            <h6 class="text text-light text-uppercase">active members</h6>
            <ul class="ml-lg-5">
                <li>
                    <a href="" id="members"></a>
                </li>
            </ul>
        </div>
        <div class="col-lg-8 two">

                {% for msg in msg%}
                    {% if msg.sender == user.name%}
                <div class="mess">
                    <small class="sender">{{msg.sender}}</small>
                    <br>
                    {{msg.message}}
                </div>
                    {%else%}
                <div class="receive">
                    <small>{{msg.sender}}</small>
                    <br>
                    {{msg.message}}
                </div>
                    {% endif %}
                {% endfor %}

            <form>
                <div class="row fixd">
                    <div class="col-lg-8">
                        <input type="text" id="msg" class="form-control form-control-sm w-100" autocomplete="off" placeholder="Type your message here ...">
                    </div>
                    <div class="col-lg-4">
                        <span><button class="abs ml-0" id="button" type="submit"><span class="fa fa-paper-plane"></span> send message</button></span>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-2 three">

        </div>
    </div>
</div>

{%endblock body%}

{% block scripts%}
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
var socket = io();
socket.on('connect', function() {
       socket.emit('my event', {
       message: '{{user.name}}',
       room: '{{user.id}}'
      })
});

socket.on('server', function(data){
       document.querySelector('#members').innerHTML = data.message;
       var button = document.querySelector('#button').addEventListener('click', (event)=>{
           event.preventDefault();
           let msg = document.querySelector('#msg');
           socket.emit('receive message',{
                        message : `${msg.value}`,
                        sender : '{{user.name}}',
                        room : '{{user.id}}'
                  });
           msg.focus();
           msg.value = '';
       })
});

socket.on('receive', (data) =>{
    console.log(data)
})
</script>
{% endblock scripts%}