{% extends 'base.html'%}

{% block body%}
<div class="container">
    <div class="row">
        <div class="col-lg-3">

        </div>
        <div class="col-lg-6">
            {%with messages=get_flashed_messages(with_categories=true)%}
                {%if messages%}
                    {%for message, category in messages%}
                        <div class="alert alert-{{message}} alert-dismissible">
                            {{category}}
                        </div>
                    {%endfor%}
                {%endif%}
            {%endwith%}
            <form method="post">
                <div class="form-group">
                    <label for="name">enter your name</label>
                    <input type="text" class="form-control form-control-sm" name="name" required autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="email">enter your email</label>
                    <input type="email" class="form-control form-control-sm" required name="email" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="password">enter your password</label>
                    <input type="password" class="form-control form-control-sm" required name="password" autocomplete="off">
                </div>
                <input type="submit" value="register" class="btn btn-danger">
            </form>
            <small>already have an account ? <a href="{{url_for('login')}}" class="text-decoration-none"> sign in </a></small>
        </div>
        <div class="col-lg-3">

        </div>
    </div>
</div>
{% endblock body%}